h1 {
	
}

body {
	width: 100%;
}

section.column-1 {
	display: inline-block;
	width: 48%;
	float: left;
	margin: 5px;
	margin-bottom: 40px;
	padding: 5px;
}

section.column-2 {
	display: inline-block;
	width: 48%;
	float: left;
	margin: 5px;
	margin-bottom: 40px;
	padding: 5px;
}

footer {
	clear: both;
	margin-bottom: 0px;
} 