<!DOCTYPE html>
<html>
<head>
  <title>Beer!</title>
</head>
<body>
  <form action="/students" method="POST">
    <input type="text" name="beer" placeholder="Beer">
    <button type="submit">Save</button>
 </form>
</body>
</html>